<%=your_name%> is <%=your_age%>.
<br>
What is your three favorite numbers?
<br>
<form action = "numbers" method = "post">
 	<input type = "number" name = "fav1">
 	<br>
 	<input type = "number" name = "fav2">
	<br>
	<input type = "number" name = "fav3">
	<rb>
	<input type = "submit">
</form>	
 